  #body {
      height: 100vh;
      font-family: 'fonts/Questrial-Regular.ttf';
      }
  }

  p{
  }

  header{
      color: #E56312;
      text-align: center;
      padding:2%;
      height: 5%;
      font-size: 2em;
  }

  main{
      height: 80%;
      text-align: center;
  }

.noShow{
    display: none
}

#image{
    text-align: center;
    padding: 4%;
}

#image2{
    text-align: center;
    padding: 4%;
    opacity: 30%;
}

#ataque {
    width: 40%;
}

#atacar{
    position: relative;
    height: 80vh;
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
button{
    background-color: #145DA5;
    color: white;
    height: 4em;
    width: 10em;
    border-radius: 25px;
    border: none;
}

  footer {
      font-size: 1em; 
      color: white;
      text-align: center;
      height: 10%;
  }

.fondocambiante{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

  @keyframes bgcolor {
    0% {
        background-color: black
    }

    30% {
        background-color: red
    }

    60% {
        background-color: black
    }

    90% {
        background-color: red
    }

    100% {
        background-color: black
    }
}