* {
    background-color: black;
  }

  body {
      height: 100vh;
      margin: 0 auto;
    width: 80%;
  }

  p{
      color: white;
  }

  header{
      color: #E56312;
      text-align: center;
      padding:2%;
      height: 5%;
      font-size: 2em;
  }

  main{
      height: 80%;
      text-align: center;
  }

.noShow{
    display: none
}

#image{
    text-align: center;
    padding: 4%;
}

#image2{
    text-align: center;
    padding: 4%;
    opacity: 30%;
}

#ataque {
    width: 40%;
}

#atacar{
    position: relative;
    height: 80vh;
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
button{
    background-color: red;
    color: white;
    height: 4em;
    width: 10em;
    border-radius: 25px;
    border: none;
}

  footer {
      font-size: 1em; 
      color: white;
      text-align: center;
      height: 10%;
  }

  .loader{
	-webkit-perspective:700px;
	perspective: 700px;
}

.loader>span{
	font-size: 130px;
	font-family: "franklin gothic medium",sans-serif;
	display: inline-block;
	animation:flip 2.6s infinite linear;
	transform-origin:0 70%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}


.loader>span:nth-child(even){
	color:red;
}

.loader>span:nth-child(odd){
	color:red;
}

.loader>span:nth-child(2){
	animation-delay: 0.3s;
}

.loader>span:nth-child(3){
	animation-delay: 0.6s;
}

.loader>span:nth-child(4){
	animation-delay: 0.9s;
}

.loader>span:nth-child(5){
	animation-delay: 1.2s;
}

.loader>span:nth-child(6){
	animation-delay: 1.5s
}

.loader>span:nth-child(7){
	animation-delay: 1.8s
}

  @media only screen and (min-width: 768px) and (orientation: portrait){
    button{
        font-size: 5em;
        background-color:green;
    }
    header{
        font-size: 6em;
    }
    #random{
        font-size: 4em;
    }
  }